@model List<ChatApp.Models.UserModel>
@{
    Layout = null;
}
@if (Model != null)
{
    if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            string name = item.Name.IndexOf(" ") > 0 ? item.Name.Substring(0, item.Name.IndexOf(" ")) : item.Name;
            <a href="javascript:;" data-user-id="@item.UserID" class="list-group-item chat-user">
                <img src="@item.ProfilePicture" class="profilePictureCircle" />&nbsp;&nbsp;&nbsp;@name <i class="fa fa-circle pull-right online-circle"></i>
            </a>
        }
    }
    else
    {
        <span>No one online</span>
    }
}